# Ignore ARCHIVES content
ARCHIVES/*
# Ignore SERVERS content
SERVERS/*
# Ignore logs
SERVER/logs/*
# Ignore outputs
SERVER/output/*
# Ignore database content
SERVER/db/*
# Ignore .env content
SERVER/env/*